td {border: 1px #DDD solid; padding: 2px; cursor: pointer;}

#contentSplitter {
    width: 1000px;
    margin-left: 410px;
}

#systemMessages {
    width: 400px;
    float: left;
}

#transactionsRecord {
    width: 400px;
    float: right;
    margin-right: 90px;
}


table, th, td {
    border: 1px solid black;
}

.box {
    border: 1px solid black;
    width: 400px;
    padding: 5px;
}

#submitInput {
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}

.buttonHolder{ text-align: center; }